%nav
  %ul
    %li
      = link_to("Home", root_path)
    %li
      = link_to("Add Eater", new_person_path)
    %li
      = link_to("New Checkin", new_checkin_path)
    %li
      = link_to("All Events", events_path)
    %li
      = link_to("New Event", new_event_path)
    %li
      = link_to("Leagues", leagues_path)
    %li
      = link_to("New League", new_league_path)
